body {
  margin: 0;

  padding-bottom: 80px;
  font-family: Arial, sans-serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: blue;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
